body {
  margin: 0;
  padding: 0;
}
img {
  margin: 0 auto;
  width: 50%;
}
h1 {
  background-color: cornsilk;
  color: black;
  padding: 50px;
  font-size:25px ;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
}
p {
  text-align: justify;
  font-style: 20px;
  margin: 0 auto;
  background: rgb(30, 180, 98);
  padding: 100px;
  font-size: 30px;
  border: 50px solid royalblue;
}
h3 {
  background-color: sandybrown;
  padding: 30px;
  text-align: center;
  margin: 0;
  font-style: 70px;
}
.main {
  display: flex;
  background:rgb(216, 104, 29);
  padding: 50px;
div .same {
  width: 48%;
  padding: 30px;
  margin-right: 2%;
  border-left: 2px solid blue;
}