body {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: cornsilk;
  color: black;
  padding: 50px;
  font-size:25px ;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin: 0;
}
p {
  text-align: justify;
  font-style: 20px;
  margin: 0 auto;
  background: rgb(30, 180, 98);
  padding: 100px;
  font-size: 30px;
  border: 50px solid royalblue;
}